{% extends 'crm/base.html' %}

{% block content %}
    <h1>Ваш платеж:</h1>
    <ul>
        <li>
            Номер документа: {{ payment.document_number }} от {{ payment.document_date }}
        </li>
        <li>
            Сумма: {{ payment.amount }}
        </li>
        <li>
            Статус: <strong>{{ payment.state }}</strong>
        </li>
        <li>
            Создан: {{ payment.created_at }}
        </li>
        <li>
            Обновлен: {{ payment.updated_at }}
        </li>
    </ul>
    <a class="btn btn-lg btn-info" href="javascript:window.location.href=window.location.href" role="button">Обновить</a>
{% endblock content %}
