[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
redgreenunittest = "*"

[packages]
Django = ">=2.2"
redgreenunittest = "*"
gunicorn = "*"
slugify = "*"

[requires]
python_version = "3.6"
