[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
redgreenunittest = "*"
behave = "*"
behave-django = "*"
splinter = '*'
pytest = '*'

[packages]
Django = ">=3.0"
djangorestframework = "*"
django-storages = '*'
psycopg2-binary = "*"
python-dotenv = "*"
social-auth-app-django = "*"
python-jose = "*"
requests = "*"
dj_database_url = "*"
pyyaml = "*"
gunicorn = "*"
boto3 = '*'
whitenoise = '*'
markdown = '*'
django-money = '*'
sentry-sdk = '*'
django-bootstrap-form = '*'

[requires]
python_version = "3.6"
