{% extends "lms_cms/cms_plugins/layout-block.html" %}
{% load i18n %}
{% comment %}
role: {{ role }}

items:
lesson: Lesson
*  opened_at: date, when lesson becomes available
*  is_opened: bool, is lesson available
page: Page
flow_lesson: FlowLesson (optional)
student_lesson: StudentLesson (optional)
is_blocked: bool
is_missed: bool
{% endcomment %}
{% block content %}
    {% if show_flows_selector %}
        Поток:
        <div class="dropdown show  d-inline-block">
            <a class="btn btn-primary dropdown-toggle" href="#" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if current_flow %}
                    {{ current_flow.name }}
                {% else %}
                    {% trans 'Flow' %}
                {% endif %}
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item"
                   href="?setflow="
                >
                    Не выбран
                </a>
                {% for flow in my_flows %}
                    <a class="dropdown-item {% if flow == current_flow %}active{% endif %}"
                    <a class="dropdown-item {% if flow == current_flow %}active{% endif %}"
                       href="?setflow={{ flow.pk }}"
                    >
                        {{ flow.name }}
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% url 'admin:lms_cms_signupformmodel_changelist' as signups_url %}
    {% url 'admin:lms_student_changelist' as students_url %}
    {% if   is_admin %}
        <div class="btn-group">
            {% if current_flow %}
                <a href="{% url 'admin:lms_cms_flowparticipants_change' current_flow.id %}" target="_blank"
                   class="btn btn-primary active">Участники</a>
                <a href="{% url 'admin:lms_cms_flowschedule_change' current_flow.id %}" target="_blank"
                   class="btn btn-primary active">Расписание</a>
                <a href="{{ students_url }}?flow__id__exact={{ current_flow.id }}" target="_blank"
                   class="btn btn-primary active">Студенты</a>
            {% endif %}
        </div>
        <a href="{{ signups_url }}?state__exact=new&course__id__exact={{ course.id }}" target="_blank"
           class="btn btn-primary active">Заявки</a>
    {% endif %}
    {% for item in items %}
        {% if item.lesson.new_unit %}
            <div class="row border-bottom bg-light position-relative mt-4">
                <div class="col rounded-top bg-secondary text-white">
                    <h4 class="text-white m-3">{{ item.lesson.unit.name }} &nbsp;</h4>
                </div>
            </div>
        {% endif %}
        <div class="row border-bottom bg-light position-relative">

            <div class="col-2 my-auto text-center">
                <div class="h6 text-dark">
                    Урок<br>
                    {% if item.flow_lesson %}
                        {{ item.flow_lesson.number }}
                    {% else %}
                        {{ item.lesson.number }}
                    {% endif %}
                </div>
            </div>

            <div class="col my-auto position-static py-2">
                {% if item.flow_lesson.is_opened and not item.student_lesson.is_blocked or is_teacher or is_admin %}
                    <a href="{{ item.page.get_absolute_url }}" class="stretched-link">
                        <div class="h5">
                            {{ item.page.get_title }}
                        </div>
                    </a>
                {% else %}
                    <div class="h5 text-secondary">
                        {{ item.page.get_title }}
                    </div>
                {% endif %}
                <div class="text-right">
                    {% if item.student_lesson.is_missed %}
                        <span class="badge badge-warning">пропущен</span>
                    {% endif %}
                    {% if item.student_lesson.score %}
                        <span class="badge badge-info">оценка {{ item.student_lesson.score }}</span>
                    {% endif %}
                    {% if not item.flow_lesson.is_opened and not item.student_lesson.is_blocked %}
                        <span class="badge badge-light" style="color: #797979">{{ item.flow_lesson.open_planned_at|date:"SHORT_DATETIME_FORMAT" }} {{ item.flow_lesson.open_planned_at|date:"e" }}</span>
                    {% endif %}
                    &nbsp;
                </div>
            </div>

            <div class="col-1 my-auto" style="margin: auto">
                {% if item.flow_lesson.is_opened %}
                    {% if item.student_lesson.is_blocked %}
                        <span style="color:gray">
                            <i class="fas fa-lock fa-lg"></i>
                        </span>
                    {% else %}
                        <a href="{{ item.page.get_absolute_url }}" class="stretched-link">
                            {% if item.student_lesson.is_completed %}
                                {% if item.student_lesson.is_checked %}
                                    {% if item.student_lesson.is_task_accepted %}
                                        <span style="color: green">
                                        <i class="far fa-check-square fa-lg"></i>
                                        </span>
                                    {% elif item.student_lesson.is_task_rejected %}
                                        <span style="color: darkorange">
                                        <i class="far fa-check-square fa-lg"></i>
                                        </span>
                                    {% else %} {# filed #}
                                        <span style="color: darkred">
                                        <i class="far fa-times-circle"></i>
                                        </span>
                                    {% endif %}
                                {% else %}
                                    <span style="color: green">
                                    <i class="fas fa-hourglass-end fa-lg"></i>
                                    </span>
                                {% endif %}
                            {% else %}
                                <span style="color: green">
                                <i class="fas fa-hourglass-start fa-lg"></i>
                                </span>
                            {% endif %}
                        </a>
                    {% endif %}
                {% else %}
                    <span style="color:gray">
                        <i class="fas fa-lock fa-lg"></i>
                    </span>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}