{% extends "lms_cms/base.html" %}
{% load cms_tags %}

{% block title %}Урок #{{ student_lesson.ordering }} {{ student_lesson.lesson.title }}{% endblock title %}

{% block header %}
    {% include "lms_cms/menu/navbar-lesson.html" %}
{% endblock header %}

{% block content %}
    {% with flow_lesson=student_lesson.flow_lesson %}
    <h1>Урок #{{ flow_lesson.ordering }} {{ flow_lesson.lesson.title }}</h1>
    {% render_placeholder flow_lesson.lesson.lesson_content %}
    {% render_placeholder flow_lesson.lesson.support_content %}
    {% if flow_lesson.lesson.show_common_content %}
        {% render_placeholder flow_lesson.flow.course.common_content %}
    {% endif %}
    {% endwith %}
{% endblock %}
