{% extends 'layout.html' %}

{% block content %}

    <div class="card-deck mb-3 text-center">
    {% for course in courses %}
        <div class="card col-md-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ course.name }}</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title"><small class="text-muted">26000 руб.</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>25 уроков</li>
                    <li>20 практических заданий</li>
                    <li><i class="far fa-calendar-alt"></i> 3 месяца и 2 недели</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-success">Попробовать</button>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock content %}
